:root {
  --primary: #f6f6f6;
  --grey: #757575;
  --normal: rgba(153, 102, 255, 0.6);
  --correct: rgba(77, 193, 75, 0.6);
  --wrong: rgba(254, 99, 133, 0.6);
  --disabled: #b3b3b3a7;

  --pink: #fe6385;
  --yellow: #ffd061;
  --blue: #36a3ea;
  --green: #4dc14b;
  --gap: 0.4rem;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */
body {
  font-family: "Rubik", sans-serif;
  background-color: var(--primary);
}
.pad {
  padding: 0.5rem;
}

.font-rowdies {
  font-family: "Rowdies", sans-serif;
}

.font-grey {
  color: var(--grey);
}

.container {
  height: 100vh;
  height: 100svh;
  display: grid;
  grid-template: 4rem repeat(2, minmax(0, 1fr)) / repeat(3, minmax(0, 1fr));
  gap: var(--gap);
}
.margin-right {
  margin-right: var(--gap);
}
.margin-left {
  margin-left: var(--gap);
}
.margin-bottom {
  margin-bottom: var(--gap);
}
.round-edges {
  border-radius: 5px;
}
.box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.bg-white {
  background-color: white;
}

.navigation {
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  justify-items: start;
}

.flex-center {
  display: flex;
  align-items: center;
}
.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}

.logo-link {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.logo-link:visited,
.logo-link:active {
  color: inherit;
}

.logo {
  margin-right: 1rem;
  width: 3rem;
}

.logo ~ p {
  font-size: 1.5rem;
}

.nav-content {
  justify-self: end;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.functions-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  gap: 0.5rem 1.5rem;
  width: 80%;
}

.size {
  grid-row: 2;
}
#randomize-btn {
  grid-row: 1 / span 2;
  justify-self: end;
}
.sort-ddl {
  grid-row: 1 / span 2;
}
.slider {
  position: relative;
}

.slider::after {
  position: absolute;
  content: attr(data-type);
  transform: translate(-110%, -15%);
  font-size: 0.8rem;
  left: 0;
  top: 0;
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 0.6rem;
  border-radius: 1rem;
  background-repeat: no-repeat;
}
#speed-slider {
  background-color: var(--yellow);
}
#size-slider {
  background-color: var(--blue);
}
#speed-slider::-webkit-slider-thumb {
  border: 0.2rem solid var(--yellow);
}
#size-slider::-webkit-slider-thumb {
  border: 0.2rem solid var(--blue);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 2px #555;
  transition: background-color 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  cursor: grab;
}
input[type="range"]::-webkit-slider-thumb:active {
  cursor: grabbing;
}
input[type="range"]::-webkit-slider-thumb:focus {
  border: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: none;
}

#randomize-btn {
  color: #c8c8c8;
  font-size: 1.8rem;
  transition: color ease 0.2s;
  border: none;
  background-color: inherit;
}
#randomize-btn:hover {
  color: #b8b8b8;
  cursor: pointer;
}

.sort-ddl {
  height: 2rem;
  font-size: 0.85rem;
}
#sorting-alogrithms {
  width: 100%;
  height: 100%;
}

.sort-button {
  cursor: pointer;
  border: none;
  color: white;
  font-size: 0.9rem;
  background-color: #4bc1c1;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: background-color 0.15s;
}

.sort-button:hover {
  background-color: #42a8a8;
}
.stop-button {
  background-color: #c14b4b;
}

.stop-button:hover {
  background-color: #a84242;
}

.bars-container {
  grid-row: 2 / span 2;
  grid-column: 1 / span 2;
  display: flex;
  align-items: end;
  padding-bottom: 2rem;
  margin-left: var(--gap);
  margin-bottom: var(--gap);
}

.bars {
  display: grid;
  gap: 1px;
  transform: scale(1, -1);
  padding: 0 5%;
  width: 100%;
  height: 75%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.bar {
  background-color: var(--normal);
  border-radius: 0 0 4px 4px;
  transition: transform ease 0.5s;
  position: relative;
}

.bar::after {
  content: attr(data-value);
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  color: rgba(0, 0, 0, 0.8);
  transform: translate(-50%, -50%) scale(1, -1);
}

.graph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--gap);
}

.disabled:hover {
  background-color: var(--disabled);
  cursor: default;
}

.disabled,
#speed-slider.disabled,
#size-slider.disabled {
  background-color: var(--disabled);
}
.disabled,
#speed-slider.disabled:hover,
#size-slider.disabled:hover {
  background-color: var(--disabled);
}

#speed-slider.disabled::-webkit-slider-thumb,
#size-slider.disabled::-webkit-slider-thumb {
  border: 0.2rem solid var(--disabled);
}
#speed-slider.disabled::-webkit-slider-thumb:hover,
#size-slider.disabled::-webkit-slider-thumb:hover,
#speed-slider.disabled::-webkit-slider-thumb:active,
#size-slider.disabled::-webkit-slider-thumb:active {
  cursor: default;
}

#randomize-btn.disabled {
  color: var(--disabled);
}
#randomize-btn.disabled:hover {
  color: var(--disabled);
  cursor: default;
}
#randomize-btn.disabled:active {
  cursor: default;
}

#more-options {
  display: none;
  font-size: 1.2rem;
}

@media screen and (max-width: 1100px) {
  .container {
    height: 140vh;
    height: 140svh;
    display: grid;
    grid-template: 4rem 1fr 40vh / repeat(2, minmax(0, 1fr));
    grid-template: 4rem 1fr 40svh / repeat(2, minmax(0, 1fr));
    gap: var(--gap);
  }
  .navigation {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: start;
  }
  .bars-container {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    display: flex;
    align-items: end;
    margin: 0 var(--gap);
  }

  .graph {
    margin: 0 0 var(--gap) 0;
  }
  .graph:first-of-type {
    margin-left: var(--gap);
  }
}
@media screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }

  .navigation {
    grid-column: 1 / span 1;
  }
  .container {
    height: 160vh;
    height: 160svh;
    display: grid;
    grid-template: 4rem 1fr 30vh 30vh / 100%;
    grid-template: 4rem 1fr 30svh 30svh / 100%;
    gap: var(--gap);
  }
  .bars-container {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    display: flex;
    align-items: end;
    margin: 0 var(--gap);
  }
  .graph {
    margin: 0 var(--gap);
  }
  .graph:last-of-type {
    margin-bottom: var(--gap);
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
  #more-options {
    display: inline-block;
  }

  .container {
    pointer-events: none;
  }
  .navigation {
    position: relative;
    pointer-events: visible;
  }
  .functions-container {
    background-color: white;
    position: absolute;
    padding: 0 4rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all ease 0.4s;
    z-index: -5;
  }

  .functions-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 1px;
  }

  .bars-container {
    z-index: -10;
  }

  .nav-content {
    justify-self: end;
    width: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.slide {
  top: 100%;
  z-index: 0;
}
