:root {
  --primary: #f6f6f6;
  --grey: #757575;
  --normal: rgba(153, 102, 255, 0.6);
  --correct: rgba(77, 193, 75, 0.6);
  --wrong: rgba(254, 99, 133, 0.6);

  --pink: #fe6385;
  --yellow: #ffd061;
  --blue: #36a3ea;
  --green: #4dc14b;

  --gap: 0.4rem;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */
body {
  font-family: "Rubik", sans-serif;
  background-color: var(--primary);
}
.pad {
  padding: 0.5rem;
}

.font-rowdies {
  font-family: "Rowdies", sans-serif;
}

.font-grey {
  color: var(--grey);
}

.container {
  height: 100vh;
  display: grid;
  grid-template: 4rem repeat(2, minmax(0, 1fr)) / repeat(3, minmax(0, 1fr));
  gap: var(--gap);
}
.margin-right {
  margin-right: var(--gap);
}
.margin-left {
  margin-left: var(--gap);
}
.margin-bottom {
  margin-bottom: var(--gap);
}
.round-edges {
  border-radius: 5px;
}
.box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.bg-white {
  background-color: white;
}

.grid-row {
  grid-column: 1 / span 3;
}
.grid-four-slots {
  grid-row: 2 / span 2;
  grid-column: 1 / span 2;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  justify-items: start;
}

.flex-center {
  display: flex;
  align-items: center;
}
.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.logo-link {
  cursor: pointer;
  text-decoration: none;
}
.logo-link:visited {
  color: inherit;
}

.logo {
  margin-right: 1rem;
  width: 3rem;
}

.logo ~ p {
  font-size: 1.5rem;
}

.functions-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  align-items: center;
  gap: 0.5rem 1.5rem;
  width: 100%;
}

.size {
  grid-row: 2;
}
#randomize-btn {
  grid-row: 1 / span 2;
  display: flex;
  justify-content: end;
}
.sort-ddl {
  grid-row: 1 / span 2;
}
.sort-button {
  grid-column: 4;
  grid-row: 1 / span 2;
}
.slider {
  position: relative;
}

.slider::after {
  position: absolute;
  content: attr(data-type);
  transform: translate(-110%, -15%);
  font-size: 0.8rem;
  left: 0;
  top: 0;
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 0.6rem;
  border-radius: 1rem;
  background-repeat: no-repeat;
}
#speed-slider {
  background-color: var(--yellow);
}
#size-slider {
  background-color: var(--blue);
}
#speed-slider::-webkit-slider-thumb {
  border: 0.2rem solid var(--yellow);
}
#size-slider::-webkit-slider-thumb {
  border: 0.2rem solid var(--blue);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 2px #555;
  transition: background-color 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  cursor: grab;
}
input[type="range"]::-webkit-slider-thumb:active {
  cursor: grabbing;
}
input[type="range"]::-webkit-slider-thumb:focus {
  border: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: none;
}

#randomize-btn {
  color: #c8c8c8;
  font-size: 1.8rem;
  transition: color ease 0.2s;
}
#randomize-btn:hover {
  color: #b8b8b8;
  cursor: pointer;
}

.sort-ddl {
  height: 2rem;
  font-size: 0.85rem;
}
#sorting-alogrithms {
  width: 100%;
  height: 100%;
}

.sort-button {
  cursor: pointer;
  border: none;
  color: white;
  font-size: 0.9rem;
  background-color: #4bc1c1;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: background-color 0.15s;
}

.sort-button:hover {
  background-color: #42a8a8;
}

.bars-container {
  display: flex;
  align-items: end;
  padding-bottom: 2rem;
}

.bars {
  display: grid;
  gap: 1px;
  transform: scale(1, -1);
  padding: 0 5%;
  width: 100%;
  height: 75%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.bar {
  background-color: var(--normal);
  border-radius: 0 0 4px 4px;
  transition: transform ease 0.5s;
  position: relative;
}

.bar::after {
  content: attr(data-value);
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  color: rgba(0, 0, 0, 0.8);
  transform: translate(-50%, -50%) scale(1, -1);
}

.graph {
  display: flex;
  justify-content: center;
  align-items: center;
}
